{
  "trailingComma": "none",
  "semi": true,
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "function-paren-newline": ["error", "never"],
  "overrides": [
    {
      "files": ["*.json"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
